footer { background-color: #ADD8E6;
         font-family: Arial, sans-serif;
         color: #00008B;
         padding: 10px;
         border: 1px dashed #00008B; }

#notice { width: 80%; 
          margin: 0 auto; }

.dotted-headline { color: #2F4F4F;
                   border-bottom: 2px dotted #2F4F4F; }

h1 { text-shadow: 2px 2px 4px #333;
     background-color: rgba(128, 128, 128, 0.5);
     font-family: sans-serif;
     font-size: 4em;
     padding: 15px; }


#section { font-size: small;
           color: red;
           font-family: Arial, sans-serif;
           background-color: white;
           width: 80%;
           box-shadow: 5px 5px 10px #888888;
           padding: 20px;
           margin: 20px 0; }